# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
*_cache/
/cache/

# R Environment Variables
.Renviron

# Docs
docs/

# Claude
CLAUDE.md
.claude/

# Data and output files
*.dta
*.xlsx
*.parquet
*.csv
*.png

# Tests
code/tests/
code/stata/

# Data prep
prep/